name: Release

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  release:
    runs-on: ubuntu-latest

    permissions:
      contents: write
    env: 
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout
        uses: actions/checkout@v4 
        with:
          fetch-depth: 0

      - name: Set current date as environment variable
        run: echo "DATE=`date +'%Y.%m.%d'`" >>$GITHUB_ENV

      - name: Building TCET Linux neofetch Tar file
        run: |
          cd ..
          touch tcet-linux-neofetch.tar.gz
          tar -czf tcet-linux-neofetch.tar.gz tcet-linux-neofetch/
          touch checksum
          sha256sum tcet-linux-neofetch.tar.gz > checksum
          mv checksum tcet-linux-neofetch/
          mv tcet-linux-neofetch.tar.gz tcet-linux-neofetch/
          
      - name: Checking if release with date tag exist
        run: |
          tag=${{ env.DATE }}
          if gh release view $tag; then
            echo "RELEASE_EXISTS=true" >> $GITHUB_ENV 
          else
            echo "RELEASE_EXISTS=false" >> $GITHUB_ENV
          fi
          
      - name: Checking if release with latest tag exist
        run: |
          tag=latest
          if gh release view $tag; then
            echo "LATEST_RELEASE_EXISTS=true" >> $GITHUB_ENV 
          else
            echo "LATEST_RELEASE_EXISTS=false" >> $GITHUB_ENV
          fi
          
      - name: Deleting Dated release
        if: env.RELEASE_EXISTS == 'true'
        run: |
          gh release delete ${{ env.DATE }}
          
      - name: Delete Previous Latest release
        if: env.LATEST_RELEASE_EXISTS == 'true'
        run: |
          gh release delete latest
      - name: Release Tar File
        run: |
          gh release create ${{ env.DATE }} *tar.gz checksum --title "TCET-Linux neofetch"
      - name: Release Tar File with latest
        run: |
          gh release create latest *tar.gz checksum --latest --title "TCET-Linux neofetch"
